.header {
  background: #1a1a1a;
  color: #fff;
}

.footer {
  background: #1a1a1a;
  color: #fff;
}

.content {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 500px;
  background: #74d6e7;
  color: #fff;
  .navlink {
    display: block;
    line-height: 38px;
  }
  .active {
    color: red;
    background: #1a1a1a;
  }
}
